In [1]:
import pandas as pd
df = pd.read_csv('california_housing_test.csv')

In [2]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [3]:
df.population.min()

5.0

In [7]:
df[df.population == df.population.min()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2640,-114.62,33.62,26.0,18.0,3.0,5.0,3.0,0.536,275000.0

In [10]:
df[df.population == df.population.min()].households.max()

3.0